@font-face {
    font-family:'Lucida Sans Unicode';
    src: url(../fonts/lucida-sans-unicode.ttf);
}

body {
    width: 910px;
    height: 1310px;
    margin: 0 auto;
}

.contacts {
    display: block;
    float: left;
    font-family: Arial;
    color: #5e696d;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    line-height: 25px;
    text-align: left;
    margin: 20px 7px 7px 6px;
}

.contacts a {
    width: 22px;
    height: 23px;
    display: block;
    float: left;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -304px -15px;
    margin-right: 4px;
}
/*log in form*/
form.log-in {
    float: left;
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
    width: 494px;
    height: 27px;
    margin: 17px 0 0 9px;
    border-radius: 5px;
}

form.log-in i {
    width: 14px;
    height: 18px;
    display: block;
    float: left;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -408px -15px;
    margin: 6px 0 0 7px;
}

form.log-in input {
    width: 111px;
    height: 11px;
    margin: 0 0 0 3px;
}

form.log-in input::-webkit-input-placeholder {
    font-family: 'Lucida Sans Unicode';
    color: #97a2a6;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    padding-left: 3px;
    vertical-align: middle;
}

form.log-in button {
    border: 0;
    background-color: inherit;
    font-family: 'Lucida Sans Unicode';
    color: #ffffff;
    font-size: 10.53px;
    font-weight: 400;
    line-height: 28px;
}

.log-in-button {
    padding-left:3px;
    width: 24px;
    margin-right: 3px;
}

.reg-button {
    padding-left: 1px;
    
}

.reg-button:before {
    content: "|";
    font-size: 10px;
    margin-right: 3px;
}

form.log-in a {
    font-family: 'Lucida Sans Unicode';
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
    text-align: left;
    margin-left: 10px;
}
/*Навигатор в правом верхнем углу*/
div.top-right {
    float: left;
    border: 1px solid #bdc4c7;
    background-color: #ffffff;
    border-radius: 25px;
    width: 76px;
    height: 21px;
    margin: 18px 0 13px 16px;
}

div.top-right a.icon-home {
    width: 12px;
    height: 11px;
    display: inline-block;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -120px -15px;
    margin: 0 0 2px 8px;
}

div.top-right a.icon-sitemap {
    width: 16px;
    height: 10px;
    display: inline-block;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -358px -15px;
    margin: 0 0 2px 2px;
}

div.top-right a.icon-mail {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -163px -15px;
    margin: 3px 0 0 5px;
}
/*Главная менюшка*/
.main-menu {
    border: 1px solid #0d1642;
    border-radius: 5px;
    background: linear-gradient(0deg, #000000 0%, #4c535a 87%, #576068 100%);
    box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
    width: 910px;
    height: 33px;
    margin-top: 3px;
}

nav.main-menu ul,
nav.main-menu ul li {
    display: inline-block;
}

.main-menu-ul li a {
    font-family: 'Lucida Sans Unicode';
    color: #b1bcc0;
    font-size: 13.64px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.main-menu-ul {
    margin: 3px 47px 3px 136px;
}

.main-menu-ul li:nth-child(3) {
    margin-left: 6px;
}

.main-menu-ul li:nth-child(4) {
    margin-left: 6px;
}

.main-menu-ul li:nth-child(5) {
    margin-left: 2px;
}

.main-menu-ul li:hover {
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    height: 26px;
    border-radius: 20px;
}

.main-menu-ul li a:hover {
    color: #ffffff;
}

.bucket {
    display: table;
}

.bucket li {
    display: table-cell;
    vertical-align: middle;
    
}

.icon-bucket {
    margin-bottom: 4px;
}

ul.bucket li a {
    font-family: Arial;
    color: #929b9f;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: left;
}

.icon-bucket {
    width: 21px;
    height: 17px;
    display: inline-block;
    background: url(../img/icon-spritesheet.png) no-repeat;
    background-position: -15px -15px;
    margin-left: 10px;
}

.products,
.amount {
    margin-bottom:6px;
}

.products {
    margin-left: 4px;
}

.amount {
    margin-left: 9px;
}

.products:after,
.amount:after {
    font-family: Arial;
    color: #0d5a8f;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-align: left;
}

.products:after {
    content: "0";
    margin-left: 2px;
}

.amount:after {
    content: "0,00 грн.";
    margin-left: 9px;
}
/*Формы*/
.search-auto,
.search-tires,
.search-disks {
    float: left;
    border: 1px solid #9c9c9d;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 4px 5px 0px rgba(104, 104, 104, 0.75);
}

.search-auto {
    width: 414px;
    height: 134px;
    margin: 10px 0 14px 3px;
}

.search-tires {
    width: 192px;
    height: 136px;
    margin: 10px 0 14px 15px;
}

.search-disks {
    width: 268px;
    height: 134px;
    margin: 10px 0 14px 7px;
}
/*Боковые меню*/
.left-nav,
.right-nav {
    float: left;
}

.left-nav div,
.right-nav div {
    border-style: solid;
    border-width: 1px;
    border-color: #79878d;
    border-radius: 25px;
    box-shadow: 1px 3px 3px 0px rgba(150, 150, 150, 0.75);
    width: 180px;
    height: 25px;
}

.left-nav div {
    margin: 2px 0 13px 0;
}

.right-nav div {
    margin: 0 0 14px 0;
}

.left-nav h3,
.right-nav h3 {
    display: block;
    font-family: 'Lucida Sans Unicode';
    color: #114165;
    font-size: 12.73px;
    font-weight: 400;
}

.left-nav h3 {
    padding: 6px 0 0 27px;
}

.right-nav h3 {
    padding: 6px 0 0 30px;
    letter-spacing: 0.9px;
}

.left-nav .icon-file,
.right-nav .icon-file {
    float: left;
    width: 24px;
    height: 25px;
    display: block;
    background: url(../img/icon-spritesheet.png);
    background-position: -66px -15px;
}

.left-nav .icon-file {
    margin: 1px 0 0 0;
}

.right-nav .icon-file {
    margin: 1px 0 0 1px;
}

.left-nav li.main-point,
.right-nav li.main-point {
    border-style: solid;
    border-width: 1px;
    border-color: #79878d;
    background-color: #ffffff;
    
    height: 26px;
    border-radius: 25px;
}

.left-nav .main-point {
    margin-left: 1px;
    width: 148px;
}

.left-nav li.main-point a,
.right-nav li.main-point a {
    font-family: 'Lucida Sans Unicode';
    color: #114165;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-decoration: none;
    margin-left: 2px;
}

.main-point i {
    float: left;
    width: 24px;
    height: 25px;
    display: block;
    background: url(../img/icon-spritesheet.png);
    background-position: -206px -15px;
    margin-left: 2px;
}


.left-nav li.point a,
.right-nav li.point a {
    font-family: 'Lucida Sans Unicode';
    color: #465961;
    font-size: 12.73px;
    font-weight: 400;
    text-decoration: none;
}

.left-nav li.point a:hover {
    font-family: Arial;
    color:  #0c3256;
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    line-height: 14px;
    text-decoration: underline;

}

.left-nav li.point i {
    float: left;
    width: 14px;
    height: 15px;
    display: block;
    background: url(../img/icon-spritesheet.png);
    background-position: -260px -13px;
    margin-left: 33px;
}

.left-nav li.point {
    margin-bottom: 10px;
}

.left-nav li.point:first-child,
.right-nav li.point:first-child {
    margin-top: 3px;
}

.left-nav li.point:last-child {
    margin-bottom: 3px;
}

.left-nav li.point span,
.right-nav li.point span {
    font-family: 'Lucida Sans Unicode';
    color: #465961;
    font-size: 12.73px;
    font-weight: 400;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 2px;
}

.right-nav .main-point {
    margin-left: 14px;
    width: 135px;
}

.right-nav li.point {
    margin-left: 17px;
    margin-bottom: 6px;
}

.right-nav li.point:last-child {
    margin-bottom: 14px;
}

.right-nav button {
    border-style: solid;
    border-width: 1px;
    border-color:  #a7abae;
    border-radius: 20px;
    box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.14);
    background: linear-gradient(180deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    width: 80px;
    height: 26px;
    font-family: Arial;
    color:  #e5e9ea;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.44px;
    margin: 7px 0 0 24px;
}
/*Центр шины*/
.tires {
    float: left;
    width: 527px;
    height: 628px;
    background: linear-gradient(0deg, rgba(35, 75, 93, 0.49) 0%, rgba(129, 150, 159, 0.49) 57%, rgba(201, 207, 209, 0.49) 100%);
    margin: 0 9px;
}

.tires figure {
    display: inline-block;
    margin: 10px 0 0 23px;
}

.tires figure figcaption.brand a {
    font-family: 'Lucida Sans Unicode';
    color: #206988;
    font-size: 14.59px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

.tires figure figcaption {
    text-align: center;
}

.tires figure figcaption.description a {
    font-family: 'Lucida Sans Unicode';
    color: #1f2528;
    font-size: 12.77px;
    font-weight: 400;
    line-height: 14px;
    text-decoration: none;
}

.tires figure span {
    display: block;
    background: #ffffff;
    width: 138px;
    padding-top: 5px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid #a4aeb1;
}

.tires figure figcaption.price {
    font-family: Arial;
    color: #114165;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 11px;
    margin: 6px 0 17px 15px;
}
/*Футер*/
.logos {
    margin: 33px 0 0 107px;
}

.logos ul li {
    display: inline-block;
    margin-left: 7px;
}

.toyo a {
    width: 88px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -3px -5px;
    margin-top: 5px;
}

.bridgestone a {
    width: 101px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -100px -5px;
    margin-top: 5px;
}

.continental a {
    width: 79px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -210px -5px;
    margin-top: 5px;
}

.dooper a {
    width: 61px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -302px -5px;
    margin-top: 5px;
}

.avon a {
    width: 77px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -374px -5px;
    margin-top: 5px;
}

.roomars a {
    width: 59px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -463px -5px;
    margin-top: 5px;
}

.pirelli a {
    width: 62px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -534px -5px;
    margin-top: 5px;
}

.dunlop a {
    width: 74px;
    height: 26px;
    display: block;
    background: url(../img/logo-sprite.png) no-repeat;
    background-position: -609px -5px;
    margin-top: 5px;
}
/*Меню футера*/
.menu-footer {
    border: 1px solid #242a3c;
    background-color: #213a4d;
    width: 908px;
    height: 100px;
    margin-top: 21px;
}

.menu-footer ul {
    margin: 7px 0 0 297px;
}

.menu-footer ul li {
    display: inline-block;
    line-height: 18px;
    
}

.menu-footer ul li a {
    font-family: Arial;
    color: #bec6c9;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    border-right: 1px solid #bec6c9;
    text-decoration: none;
    padding: 0 11px;
}

.menu-footer ul li:last-child a {
    border: none;
}

.menu-footer ul li a:hover {
    color:  #52accb;
}

.menu-footer span {
    display: block;
    font-family: Arial;
    color:  #7f4740;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 18px;
    text-align: center;
    margin: 9px 0 0 38px;
}