@media all and (max-width: 478px) {

  .above-the-fold__phones,
  .footer__nav,
  .above-the-fold__paragraph,
  .news {
    display: none;
  }

  .above-the-fold__slider {
    background: none;
  }

  .above-the-fold__slider-text {
    display: block;
    margin: 0 auto;
  }

  .above-the-fold__first-heading {
    font-size: 36px;
  }

  .above-the-fold__second-heading {
    font-size: 18px;
  }

  .about-us__content {
    width: 100%;
  }

  .about-us__third-heading {
    margin-left: 25px;
  }

  .about-us__paragraph {
    max-height: 64px;
    line-height: 21px;
    overflow: hidden;
  }

  .about-us__read-more-link {
    margin-top: 20px;
    margin-right: 0;
    padding-right: 20px;
  }

  .testimonials__container {
    width: calc(100% - 40px);
  }

  .testimonials__portrait {
    padding: 0;
    margin: 0;
  }

  .testimonials__message-wrap {
    width: calc(100% - 30px);
  }

  .testimonials__portrait {
    margin-left: -25px;
  }

  .testimonials__title {
    padding-left: 40px;
    margin-left: 0;
    padding-bottom: 10px;
  }

  .testimonials__third-heading {
    margin-left: 0;
  }

  .testimonials__third-heading_colored {
    margin-left: 7px;
  }

  .testimonials__message-wrap h3 {
    display: block;
    font-size: 24px;
  }

  .testimonials__paragraph-left {
    margin-top: 0;
    padding-top: 0;
  }

  .testimonials__right-block {
    width: calc(100% - 40px);
  }

  .testimonials__forth-heading {
    max-height: 25px;
    overflow-y: hidden;
  }

  .sponsors__item {
    padding: 25px 0;
  }

  .footer {
    padding-bottom: 100px;
  }

  .footer__design-author {
    margin: 0 auto;
  }

  @-moz-document url-prefix() {
    .about-us__paragraph {
      line-height: 23px;
    }

    .testimonials__paragraph-left {
      line-height: 22px;
    }

    .about-us__paragraph {
      max-height: none;
    }
  }
}