*{
	margin: 0;
	padding: 0;
	font-family: Lucida Sans Unicode;
}
body{
	background-image: url('../img/back.jpg');
	width: 100%;
	background-position: center top;
	
}
h2{
	font-family: Trebuchet MS;
}
.header{
	margin-top: 48px;
	position: relative;
	width: 100%;
}
.header:after{
	content: '';
	display: block;
	clear: both;
}
.header__left{
	position: relative;
	right: 50%;
	float: right;
}
.header__innert{
	width: 960px;
	position: relative;
	
	right: -50%;
}
.header__menu{
		list-style: none;
		text-decoration: underline;
		z-index: -1;
		
	}
.header__img{
	float: left;
	margin-right: 30px;
}
.header__li{
	float: left;
    position: relative;
    color: white;
    list-style: none;
    font-size: 20px;
    margin-right: 25px;
    margin-top: 23px;
    z-index: 1;
    
}
.header__a{
    text-decoration-line: none;
    color: white;
	text-shadow: 1px 1px 2px black;
}
.header__ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
	  position: absolute;
	  margin-left: 180px;
}




.content{
	margin-top: 48px;
	position: relative;
	width: 100%;
	color: white;
}
.content:after{
	content: '';
	display: block;
	clear: both;
}
.content__left{
	position: relative;
	right: 50%;
	float: right;
}
.content__text{
	position: relative;
	
	right: -50%;
	margin-top: 230px; 
	width: 512px; 
	float: left; 
	text-shadow: 1px 1px 2px black;
}
.content__text_slide__1{
	font-family: Sylfaen;
	color: white;
	font-size: 45px;
}
.content__text_slide__2{
	font-family: Sylfaen;
	color: #edbfff; 
	font-size: 25px; 
	margin-top: -10px;
}
.content__text_slide__3{
	font-family: Century Gothic;
	color: white; 
	font-size: 14px; 
	width: 512px; 
	margin-top: 15px;
}
.content__phone{
	position: relative;
	z-index: 1;
	right: -50%;
	margin-top: 130px; 
	width: 448px; 
	float: right; 
	font-family: OpenSans Light;
	
}
.content__img{
	margin-left: 150px;
}
.content__blurbs{
	width: 960px;
	position: relative;
	z-index: 1;
	right: -50%;
	margin-top: 780px;
}
.content__blurbs__text{
	float: left; 
	margin-left: 25px; 
	width: 227px; 
	font-size: 16px; 
	height: 175px;
	font-family: Trebuchet MS;
}
.icon{
	background: url('../img/icon.png') 0 0 no-repeat;
	height: 28px;
	width: 28px;
	float: left;
}
.icon_key{
	background-position: -2px -3px;
	
}
.icon_dial{
	background-position: -37px -3px;
	margin-left: 60px;
}
.icon_music{
	background-position: -74px -3px;
	margin-left: 60px;
}
a.readm:hover{
	text-shadow: 0px 0px 8px white;
}
a.readm{
	margin-top: 25px;
	color: white;
	float: right;
	text-decoration: none;
}	
.content__blurbs__messege{
	margin-top: 150px; 
	background-image: url('../img/text.png');
	float: left; 
	height: 294px; 
	width: 452px; 
}
.content__blurbs__messege_text{
	padding-top: 32px;
	padding-left: 64px;
	width: 385px;
	color: black;
}
.content__blurbs__blog{
	margin-top: 150px; 
	float: right; 
	height: 290px; 
	width: 400px;
	color: #000;
}
.content__blurbs__blog_msg{
	color: black; 
	margin-top: 10px;
}
.content__blurbs__blog_msg_img{
	float: left;
}
.content__blurbs__blog_msg_txt{
	margin-top: 10px;
}
.content__blurbs__blog_readm{
	float: right; 
	color: black; 
	margin-top: 5px;
}
.content__logos{
	margin-left: 120px; 
	margin-top: 160px;
}
.content__info{
	color: grey; 
	margin-top: 100px;
}
.content__info_block{
	float: left; 
	margin-left: 80px; 
	width: 227px; 
	font-size: 16px; 
	height: 175px;
}
.content__info_block_copy{
	color: #b0aeae;	
	text-shadow: 1px 1px 10px grey;
	font-size: 12px;
}
footer{
	margin-top: 90px;
	position: relative;
	width: 100%;
}
footer:after{
	content: '';
	display: block;
	clear: both;
}
.footer__left{
	position: relative;
	right: 50%;
	float: right;
}
.footer__menu{
	position: relative;
	
	right: -50%;
	width: 960px;
}
.footer__li{
    float: left;
    position: relative;
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 110px;
    height: 55px;
    
}
.footer__a{
    text-decoration-line: none;
    color: white;
}
.footer__ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}


@media(max-width: 1024px){
	.header__innert{
		width: 748px;
		position: relative;
		z-index: 1;
		right: -50%;
	}
	.header__li{
	    float: left;
	    position: relative;
	    text-decoration: none;
	    color: white;
	    list-style: none;
	    font-size: 19px;
	    margin-right: 25px;
	    margin-top: 23px;
	    
	}
	.header__ul{
		margin-left: 0px;
	}
	.header__img{
		float: none;
	}
	.content{
		margin-top: 15px;
		position: relative;
		width: 100%;
		color: white;
	}
	
	.content__text{
		position: relative;
		z-index: 1;
		right: -50%;
		margin-top: 230px; 
		width: 280px; 
		float: left; 
		text-shadow: 1px 1px 2px black;
	}
	.content__text_slide__1{
		font-family: Sylfaen;
		color: white;
		font-size: 30px;
	}
	.content__text_slide__2{
		font-family: Sylfaen;
		color: #edbfff; 
		font-size: 18px; 
		margin-top: -10px;
	}
	.content__text_slide__3{
		font-family: Century Gothic;
		color: white; 
		font-size: 12px; 
		width: 280px; 
		margin-top: 15px;
	}
	.content__phone{
		position: relative;
		z-index: 1;
		right: -50%;
		margin-top: 130px; 
		width: 270px; 
		float: left; 
		font-family: OpenSans Light;
		
	}
	.content__blurbs{
		width: 748px;
		position: relative;
		z-index: 1;
		right: -50%;
		margin-top: 750px;
	}
	.content__blurbs__text{
		float: left; 
		margin-left: 25px; 
		width: 160px; 
		font-size: 14px; 
		height: 175px;
		font-family: Trebuchet MS;
	}
	.icon{
		background: url('../img/icon.png') 0 0 no-repeat;
		height: 28px;
		width: 28px;
		float: left;
	}
	.icon_key{
		background-position: -2px -3px;
		
	}
	.icon_dial{
		background-position: -37px -3px;
		margin-left: 40px;
	}
	.icon_music{
		background-position: -74px -3px;
		margin-left: 40px;
	}
	a.readm:hover{
		text-shadow: 0px 0px 8px white;
	}
	a.readm{
		margin-top: 15px;
		color: white;
		float: right;
		text-decoration: none;
	}	
	.content__blurbs__messege{
		margin-top: 150px; 
		background-image: url('../img/text.png');
		float: left; 
		height: 275px; 
		width: 333px; 
	}
	.content__blurbs__messege_text{
		padding-top: 32px;
		padding-left: 64px;
		width: 210px;
		color: black;
	}
	
	.content__logos{
		margin-left: 15px;
		margin-top: 150px;
		width: 725px;
		height: 65px;
	}
	.content__info_block{
		float: left; 
		margin-left: 40px; 
		width: 200px; 
		font-size: 14px; 
		height: 175px;
	}
	.footer__menu{
		position: relative;
		z-index: 1;
		right: -50%;
		width: 748px;
	}
	.footer__li{
	    float: left;
	    position: relative;
	    text-decoration: none;
	    color: white;
	    list-style: none;
	    font-size: 20px;
	    margin-left: 20px;
	    margin-top: 110px;
	    height: 55px;
	}
}

@media(max-width: 780px){
body{
	background-image:url('../img/backsmall.jpg');
	width: 100%;
	background-position: center top;
	
}
	.header__img{
		margin-left: 144px;
	}
	.header__innert{
		width: 440px;
		position: relative;
		z-index: 1;
		right: -50%;
	}
	.header__a{
	    text-decoration-line: none;
	    color: white;
		text-shadow: 1px 1px 2px black;
		text-align: center;
	}
	.header__li{
		width: 248px;
		height: 34px;
	    position: relative;
	    text-decoration: none;
	    color: white;
	    list-style: none;
	    font-size: 15px;
		text-align: center;
	    border-bottom-width: 0.5px;
	    border-bottom-style: solid;
	    border-bottom-color: #fe87ef;
	    margin: 0;
	    padding-top: 16px;
	    padding-left: 0;
	    border-radius: 15px;
	}
	.header__li:hover{
		background-color: rgba(50, 41, 54, 0.5);
		border-radius: 15px;
	}
	.header__menu{
		list-style: none;
		width:248px;
		height: 50px;
		text-decoration: none;
		border-radius: 15px;
		background-color: rgba(60, 48, 69, 0.5);
		margin-left: 96px;
	}
	.header__ul{
		width: 248px;
		position: absolute;
	    display: none;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    border-radius: 15px;
	    background-color: rgba(60, 48, 69, 0.5);
	}
	.header__menu:hover>ul.header__ul{
		display: block;
      	z-index: 1;
      	position: absolute;
	}
	.header__img{
		float: none;
	}
	.content{
		margin-top: 0px;
		position: relative;
		width: 100%;
		color: white;
	}
	
	.content__text{
		position: relative;
		z-index: 0;
		right: -50%;
		margin-top: 150px; 
		width: 230px; 
		float: left; 
		text-shadow: 1px 1px 2px black;
	}
	.content__text_slide__1{
		font-family: Sylfaen;
		color: white;
		font-size: 28px;
	}
	.content__text_slide__2{
		font-family: Sylfaen;
		color: #edbfff; 
		font-size: 14px; 
		margin-top: -10px;
	}
	.content__text_slide__3{
		display: none;
		position: relative;
		font-family: Century Gothic;
		color: white; 
		font-size: 12px; 
		width: 280px; 
		margin-top: 15px;
	}
	.content__phone{
		position: relative;
		right: -50%;
		z-index: 0;
		margin-top: 60px; 
		width: 190px; 
		float: left; 
		font-family: OpenSans Light;
		
	}
	.content__img{
		z-index: 0;
		margin-left: 40px;
		width: 190px;
	}
	.content__blurbs{
		width: 430px;
		position: relative;
		z-index: 1;
		right: -50%;
		margin-top: 490px;
	}
	.content__blurbs__text{
		margin-left: 0px;
		float: left; 
		width: 380px; 
		font-size: 14px; 
		height: 175px;
		font-family: Trebuchet MS;
	}
	.icon{
		background: url('../img/icon.png') 0 0 no-repeat;
		margin-left: 0px;
		height: 28px;
		width: 28px;
		float: left;
	}
	.icon_key{
		background-position: -2px -3px;
		
	}
	.icon_dial{
		background-position: -37px -3px;
		margin-left: 0px;
	}
	.icon_music{
		background-position: -74px -3px;
		margin-left: 0px;
	}
	a.readm:hover{
		text-shadow: 0px 0px 8px white;
	}
	a.readm{
		margin-top: 15px;
		color: white;
		float: right;
		text-decoration: none;
	}	
	.content__blurbs__messege{
		margin-top: 120px; 
		background-image: url('../img/text.png');
		float: left; 
		height: 270px; 
		width: 440px; 
	}
	.content__blurbs__messege_text{
		padding-top: 32px;
		padding-left: 64px;
		width: 375px;
		color: black;
	}
	.content__blurbs__blog{
		margin-top: 120px; 
		float: right; 
		height: 290px; 
		width: 400px;
		color: #000;
		margin-bottom: 320px;
	}
	
	.content__logos{
		position: absolute;
		display: none;
		margin-left: 15px;
		margin-top: 400px;
		width: 725px;
		height: 65px;
	}
	.content__info{
		color: grey; 
	}
	.content__info_block{
		width: 430px; 
		font-size: 14px;
		margin-left: 10px; 
	}
	.footer__menu{
		position: relative;
		z-index: 1;
		right: -50%;
		width: 440px;
	}
	.footer__li{
	    float: left;
	    position: relative;
	    text-decoration: none;
	    color: white;
	    list-style: none;
	    font-size: 12px;
	    margin-left: 10px;
	    margin-top: 70px;
	    height: 55px;
	}
}
@media(max-width: 520px){
body{
	background-image:url('../img/bgsmallest.jpg');
	width: 100%;
	background-position: center top;
	
}
	.header__img{
		margin-left: 84px;
	}
	.header__innert{
		width: 320px;
		position: relative;
		z-index: 1;
		right: -50%;
	}
	.header__a{
	    text-decoration-line: none;
	    color: white;
		text-shadow: 1px 1px 2px black;
		text-align: center;
	}
	.header__li{
		width: 170px;
		height: 25px;
	    position: relative;
	    text-decoration: none;
	    color: white;
	    list-style: none;
	    font-size: 15px;
		text-align: center;
	    border-bottom-width: 0.5px;
	    border-bottom-style: solid;
	    border-bottom-color: #fe87ef;
	    margin: 0;
	    padding-top: 10px;
	    padding-left: 0;
	    border-radius: 15px;
	}
	.header__li:hover{
		background-color: rgba(50, 41, 54, 0.5);
		border-radius: 15px;
	}
	.header__menu{
		list-style: none;
		width: 170px;
		height: 35px;
		text-decoration: none;
		border-radius: 15px;
		background-color: rgba(60, 48, 69, 0.5);
		margin-left: 75px;
	}
	.header__ul{
		width: 170px;
		position: absolute;
	    display: none;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    border-radius: 15px;
	    background-color: rgba(60, 48, 69, 0.5);
	}
	.header__menu:hover>ul.header__ul{
		display: block;
      	z-index: 1;
      	position: absolute;
	}
	.header__img{
		float: none;
	}
	.content{
		margin-top: 0px;
		position: relative;
		width: 100%;
		color: white;
	}
	
	.content__text{
		position: relative;
		z-index: 0;
		right: -50%;
		margin-top: 150px; 
		width: 300px; 
		float: left; 
		text-shadow: 1px 1px 2px black;
	}
	.content__text_slide__1{
		font-family: Sylfaen;
		color: white;
		font-size: 28px;
	}
	.content__text_slide__2{
		font-family: Sylfaen;
		color: #edbfff; 
		font-size: 12px; 
		margin-top: 0px;
	}
	.content__text_slide__3{
		display: none;
		position: relative;
		font-family: Century Gothic;
		color: white; 
		font-size: 12px; 
		width: 29px; 
		margin-top: 15px;
	}
	.content__phone{
		display: none;
		position: relative;
		right: -50%;
		z-index: 0;
		margin-top: 60px; 
		width: 190px; 
		float: left; 
		font-family: OpenSans Light;
		
	}
	.content__img{
		z-index: 0;
		margin-left: 40px;
		width: 190px;
	}
	.content__blurbs{
		width: 320px;
		position: relative;
		z-index: 1;
		right: -50%;
		margin-top: 475px;
	}
	.content__blurbs__text{
		margin-left: 25px;
		float: left; 
		width: 220px; 
		font-size: 12px; 
		height: 175px;
		font-family: Trebuchet MS;
	}
	.icon{
		background: url('../img/icon.png') 0 0 no-repeat;
		margin-left: 20px;
		height: 28px;
		width: 28px;
		float: left;
	}
	.icon_key{
		background-position: -2px -3px;
		margin-left: 20px;
	}
	.icon_dial{
		background-position: -37px -3px;
		margin-left: 20px;
	}
	.icon_music{
		background-position: -74px -3px;
		margin-left: 20px;
	}
	a.readm:hover{
		text-shadow: 0px 0px 8px white;
	}
	a.readm{
		margin-top: 15px;
		color: white;
		float: right;
		text-decoration: none;
	}	
	.content__blurbs__messege{
		margin-top: 120px; 
		background-image: url('../img/text.png');
		float: left; 
		height: 270px; 
		width: 280px; 
	}
	.content__blurbs__messege_text{
		padding-top: 15px;
		padding-left: 64px;
		width: 200px;
		color: black;
	}
	.content__blurbs__blog{
		margin-top: 120px; 
		margin-bottom: 700px;
		float: right; 
		height: 290px; 
		width: 280px;
		color: #000;
		margin-bottom: 320px;
	}
	
	.content__logos{
		position: absolute;
		display: none;
		
	}
	.content__info{
		color: grey; 
		display: none;
	}
	.content__info_block{
		width: 430px; 
		font-size: 14px;
		margin-left: 10px; 
	}
	.footer__li{
		display: none;
	   
	    
	}
}