@import 'variables';
@font-face {
      font-family: Ubuntu Light;
      src: local("Ubuntu Light"), 
           url(fonts/3972.ttf); 
      font-weight: normal;
	  font-style: normal;
};
@font-face {
      font-family: Ubuntu Medium;
      src: local("Ubuntu Medium"), 
           url(fonts/3974.ttf); 
      font-weight: normal;
	  font-style: normal;
};
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../img/bg.jpg');
	background-position: center top;
}
.header{
	position: relative;
	width: 100%;
}
.header:after{
	content: '';
	display: block;
	clear: both;
}
.header__left{
	padding-top: 30px;
	position: relative;
	right: 50%;
	float: right;
}
.header__left__innert{
	width: $global_width;
	position: relative;
	right: -50%;
}
.header__menu{
	list-style: none;
	text-decoration: underline;
	z-index: -1;
}
.header__ul__li{
	float: left;
    position: relative;
    color: white;
    list-style: none;
    border-right: $border_line;
    height: 35px;
    z-index: 1;
    width: $width_menu;
    text-align: center;
    padding-top: 17px;
}
.header__ul__li__a:hover{
	color: #f4b60d;
}
.header__ul__li__a{
    text-decoration-line: none;
    color: white;
    font-family: Ubuntu Light;
    font-size: 10px;
}
.header__ul{
    list-style: none;
    float: right;
    position: absolute;
	background-color: $menu-color;
	width: 100%; 
}
.search{
	background-color: $search-color;
	border: 0px;
	height: 10px;
	font-size: 9px;
	padding-left: 5px;
	color: #626466;
	
}
.searchDiv{
	background-color: $search-color;
	float: right;
	margin-top: 7px;
	margin-right: 10px;
	height: 32px;
	width: 240px;
	border-radius: 2px;
	border: $border_line;
	position: absolute;
	z-index: 2;
	right: 10px;
	padding-top: 5px;
}
.search_img{
	height: 14px;
	margin-top: 5px;
	opacity: 0.2;
	margin-right: 5px;
	float: right;
}
.iconn{
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
}
.icons{
	background: url('../img/iconss.png') 0 0 no-repeat;
	height: 15px;
	width: 15px;
	float: right;
	margin-top: 15px;
	opacity: 0.2;
}
.iconOne{
	background-position: 0px 0px;
	
}
.iconTwo{
	background-position: -16px 0px;
	margin-left: 15px;
}
.iconThree{
	background-position: -31px 0px;
	margin-left: 15px;
}
.iconFour{
	background-position: -46px 0px;
	margin-left: 15px;
}
.iconFive{
	background-position: -62px 0px;
	margin-left: 15px;
}
.iconOne:hover{
	background-position: 0px -16px;
	opacity: 0.85;
}
.iconTwo:hover{
	background-position: -16px -16px;
	opacity: 0.85;
}
.iconThree:hover{
	background-position: -31px -16px;
	opacity: 0.85;
}
.iconFour:hover{
	background-position: -46px -16px;
	opacity: 0.85;
}
.iconFive:hover{
	background-position: -62px -16px;
	opacity: 0.85;
}



.content{
	padding-top: 680px;
	position: relative;
	width: 100%;
}
.content:after{
	content: '';
	display: block;
	clear: both;
}
.content__left{
	position: relative;
	right: 50%;
	float: right;
}
.content__blurbs{
	width: $global_width;
	position: relative;
	right: -50%;
}
.content__its{
	position: absolute;
	z-index: 2;
	margin-top: 25px;
}



.content__text{
	float: left; 
	width: $width_text; 
	font-size: 16px; 
	height: 175px;
	font-family: Trebuchet MS;
}
.number{
	background: url('../img/number.png') 0 0 no-repeat;
	height: 65px;
	width: 90px;
	opacity: 0.2;
	float: left;
}
.numberOne{
	background-position: 7px 0px;
	
}
.numberTwo{
	background-position: -83px 0px;
	margin-left: 60px;
}
.numberThree{
	background-position: -180px 0px;
	margin-left: 60px;
}
.smart{
	background: url('../img/smartImg.png') 0 0 no-repeat;
	height: 33px;
	width: 33px;
	margin-left: 15px;
}
.smartOne{
	background-position: 1px 0px;
	
}
.smartTwo{
	background-position: -31px 0px;
}
.smartThree{
	background-position: -64px 0px;
}
.arrows{
	background: url('../img/arrows.png') -11px 0 no-repeat;
	height: 9px;
	width: 10px;
	margin-top: 29px;
	float: right;
	margin-right: 153px;
}
.readms{
	margin-left: 15px;
}
.readms:hover > .readm {
	color: #66a7f0;
}
.readms:hover > .arrows {
	background-position: 0px 0px;
}
a.readm{
	color: black;
	float: left;
	text-decoration: none;
	font-family: Ubuntu Medium;
	font-size: 10px;
	margin-top: 26px;
}	
.content__about{
	margin-left: 15px;
	font-family: Arial;
	color: grey;
	font-size: 10px;
	margin-top: 28px;
}
h2{
	margin-left: 15px;
	font-family: Ubuntu Medium;
	font-size: 14px;
	margin-top: 18px;
}
.content__serv{
	margin-top: 25px;
	color: white;
	float: left; 
	width: $width_text; 
	font-size: 16px; 
	height: 175px;
	text-align: center;
	margin-left: 30px;
	font-family: Trebuchet MS;
}
.content__blue{
	background-color: blue;
	position: absolute;
	margin-top: -264px;
	width: $wid_box;
	height: $param_box;
	z-index: 0;
	opacity: 0;
	padding-top: 65px;
}
.content__blue:hover{
	opacity: 0.8;
}
.content__serv:hover > h2{
	color: $color_orange;
}
.content__blurbs__left{
	float: left;
	width: 560px;
}
.content__blurbs__right{
	float: left;
	margin-left: 40px;
}
.squer{
	width: 40px;
	height: 27px;
	margin-left: -20px;
	position: absolute;
	text-decoration-style: solid;
	font-weight: bold;
	font-size: 14px;
	padding-top: 13px;
	text-align: center;
	font-family: Ubuntu Medium;
}
.month{
	background-color: $color_bblue;
	color: white;
	margin-top: 10px;
}
.data{
	background-color: $color_orange;
	margin-top: 50px;
}
.news__author{
	color: $color_bblue;
}
.news__text{
	padding-left: 50px;
	color: grey;
	font-family: Arial;
	font-size: 10px;
}
.news__link{
	text-decoration-line: none;
	color: black;
	font-family: Ubuntu Medium;
	font-size: 12px;
}
.news__link:hover{
	color: $color_bblue;
}
.orangeBox{
	background-color: $color_orange;
	width: $width_box;
	height: 33px;
	border-right: 1px solid white;
	text-align: center;
	color: white;
	float: left;
	padding-top: 7px;
	margin-top: 45px;
}
.orangeLine{
	background-color: $color_orange;
	width: $width_line;
	height: 27px;
	color: white;
	padding-top: 13px;
	padding-left: 20px;
	font-family: Ubuntu Medium;
	margin-top: 45px;
	font-size: 10px;
}
.whiteBox{
	background-color: white;
	border: 1px solid grey;
	width: $width_box;
	height: 33px;
	text-align: center;
	color: black;
	float: left;
	font-size: 22px;
	padding-top: 7px;
}
.whiteLine{
	background-color: white;
	border: 1px solid grey;
	width: $width_line;
	height: 27px;
	color: black;
	padding-top: 13px;
	padding-left: 20px;
	font-family: Ubuntu Medium;
	font-size: 10px;
}
.logos{
	margin-top: 180px;
}
.footer{
	margin-top: 140px;
}

.link_first{
	padding-top: 30px;
}
.linnks{
	float: left;
	width: $width_links;
	margin-left: 40px;
	color: grey;
	
}
.links__foot{
	text-decoration: none;
	color: grey;
	font-family: Arial;	
	font-size: 10px;
}
.links__foot:hover{
	color: $color_bblue;
}
hr{
	margin-top: 4px;
	margin-bottom: 4px;
}
.bottom{
	margin-top: 90px;
	margin-bottom: 15px;
}