$menu-color: #425050;
$search-color: #35383c;
$global_width: 1160px;
$width_menu: 130px;
$border_line: 1px solid black;
$width_text: 250px;
$color_blue: #55eef7;
$color_bblue: #248cec;
$color_orange: #f4b609;
$width_box: 40px;
$width_line: 499px;
$width_links: 260px;
$param_box: 195px;
$wid_box: 260px;